
    <p>
    Hi! My name's Andy, I'm a senior developer, rubbish alpinist and punk rock legend.
    </p>
    <p>You can read more about me in the <a href="./about/">about</a> section.</p>

<div class="frontpage_box contact">
<h2>Contact</h2>
<ul>
<li>Email: <a href="mailto:irv@soundforsound.co.uk">irv@soundforsound.co.uk</a> (<a href="./files/public_key.asc">Public Key</a>)</li>
<li>Social: <a href="https://twitter.com/#!/ndyirving">Twitter</a> | <a href="http://uk.linkedin.com/pub/andy-irving/14/825/2ba">LinkedIn</a> | <a href="https://github.com/irv">GitHub</a>
</li>
If you're a potential employer, remember <a href="http://www.telegraph.co.uk/technology/news/8734904/Employers-warned-about-snooping-on-staff-via-social-networks.html"> you risk being sued for discrimination if you snoop on the private lives of prospective employees</a>.
</div>

<div class="frontpage_box updates">
<h2>Recent Updates</h2>
<ul>
$posts$
</ul>
<a href="./updates/">All recent updates</a>
</div>

<div class="frontpage_box tagcloud">
<h2>Tagcloud</h2>
$tagcloud$
</div>